<div class="filter-list">
  {%- for filter_value in filter.values -%}
    {% capture swatch %}
                      {% if filter_value.swatch %}
                        <span
                          class="filter-list__swatch"
                          style="--swatch-background: {{ filter_value.swatch.color }}"
                        ></span>
                      {% endif %}
                    {% endcapture %}

    {%- liquid
      assign id = 'Filter-' | append: filter.param_name | append: '-' | append: forloop.index

      assign disabled = false
      if filter_value.count == 0 and filter_value.active == false
        assign disabled = true
      endif
    -%}

    {% render 'checkbox',
      label: filter_value.label,
      name: filter_value.param_name,
      value: filter_value.value,
      id: id,
      disabled: disabled,
      checked: filter_value.active,
      additionnal_label_content: swatch
    %}
  {%- endfor -%}
</div>

{% stylesheet %}
  .filter-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }

  .filter-list__swatch {
    background: var(--swatch-background);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
  }
{% endstylesheet %}
