{% doc %}
  Affiche les étoiles de notation d'un produit.

  @param {number} rating - Note du produit
  @param {number} [rating_count] - Nombre d'avis
  @param {boolean} [show_note] - Afficher la note

  @example
  {% render 'rating-stars', rating: 4.5, rating_count: 100 %}
{% enddoc %}

<div class="rating">
  <div class="rating__stars">
    {% assign rating = rating | replace: '.0', '' | plus: 0 %}
    {% assign rating_plus_one = rating | plus: 1 %}
    {% assign rating_floor = rating | floor %}
    {% assign has_decimal = rating | minus: rating_floor %}

    {% for i in (1..5) %}
      {% if i <= rating %}
        {% render 'icon', icon: 'star_rate', class: 'rating-star rating-star--filled' %}
      {% elsif i <= rating_plus_one and has_decimal > 0 %}
        {% render 'icon', icon: 'star_rate_half', class: 'rating-star' %}
      {% else %}
        {% render 'icon', icon: 'star_rate', class: 'rating-star rating-star--unfilled' %}
      {% endif %}
    {% endfor %}
  </div>
  {% if show_note %}
    <p class="rating__note">{{ rating }}/5</p>
  {% endif %}
  {% if rating_count %}
    <p class="rating__count">
      ({{ rating_count }}
      {{ 'products.reviews' | t }})
    </p>
  {% endif %}
</div>

{% stylesheet %}
  .rating {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    flex-wrap: wrap;
  }

  .rating__stars {
    height: 22px;
  }

  .rating-star {
    font-size: 22px !important;
    margin: 0 -4.5px;
    color: var(--color-stars-icons);
  }

  .rating-star--filled {
    font-variation-settings:
      'FILL' 1,
      'wght' var(--icon-weight),
      'GRAD' var(--icon-grade),
      'opsz' 24;
  }

  .rating-star--unfilled {
    font-variation-settings:
      'FILL' 0,
      'wght' var(--icon-weight),
      'GRAD' var(--icon-grade),
      'opsz' 24;
  }

  .rating__count {
    line-height: 22px;
  }
{% endstylesheet %}
