<td class="comparison-table__cell">
  {%- content_for 'blocks' -%}
</td>

{% stylesheet %}
  .comparison-table__cell {
    padding: var(--padding-md);
    text-align: center;
    vertical-align: middle;
  }

  .comparison-table__cell > *:not(.text-block) {
    display: inline-block;
    vertical-align: middle;
  }

  .comparison-table__cell img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .comparison-table__cell:empty {
    opacity: 0;
    background-color: transparent;
  }

  @media (width < 750px) {
    .comparison-table__cell {
      padding: var(--padding-sm);
      overflow: hidden;
      min-width: var(--cell-min-width-mobile);
    }
  }

  .highlight-column-1 {
    tr td:nth-child(1):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(1):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(1):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }

  .highlight-column-2 {
    tr td:nth-child(2):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(2):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(2):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }

  .highlight-column-3 {
    tr td:nth-child(3):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(3):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(3):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }

  .highlight-column-4 {
    tr td:nth-child(4):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(4):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(4):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }

  .highlight-column-5 {
    tr td:nth-child(5):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(5):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(5):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }

  .highlight-column-6 {
    tr td:nth-child(6):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(6):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(6):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }

  .highlight-column-7 {
    tr td:nth-child(7):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(7):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(7):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }

  .highlight-column-8 {
    tr td:nth-child(8):not(:empty) {
      color: var(--color-highlighted-column);
      background-color: var(--color-highlighted-background-column);
    }

    tr:first-child td:nth-child(8):not(:empty) {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    tr:last-child td:nth-child(8):not(:empty) {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:cell",
  "tag": null,
  "settings": [],
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "image"
    },
    {
      "type": "icon"
    },
    {
      "type": "badges"
    },
    {
      "type": "button"
    },
    {
      "type": "rating-stars"
    },
    {
      "type": "logo"
    },
    {
      "type": "icon-with-text"
    }
  ],
  "presets": [
    {
      "name": "t:cell"
    }
  ]
}
{% endschema %}
