<div
  class="password-form-container"
  style="
    --margin-top: {{ block.settings.margin_top }}px;
    --margin-bottom: {{ block.settings.margin_bottom }}px;
  "
>
  {% form 'storefront_password', class: 'password-form' %}
    {% assign password_label = 'password.password' | t %}
    {% render 'textfield',
      type: 'password',
      name: 'password',
      id: 'password-input',
      label: password_label,
      full_width: true
    %}

    <button class="button button--full-width" type="submit">{{ 'password.enter' | t }}</button>

    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}
  {% endform %}
</div>

{% stylesheet %}
  .password-form-container {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
  }

  .password-form {
    margin-top: var(--margin-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 100%;
    gap: var(--gap-md);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:password_form",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:margins"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "t:margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:go_further"
    },
    {
      "type": "paragraph",
      "content": "t:go_further_description"
    }
  ],
  "presets": [
    {
      "name": "t:password_form"
    }
  ]
}
{% endschema %}
